<section>
    <form method="POST" action="/user/login">
        <h1>Login</h1>
        <p>Error Message</p>
        <label for="email">
            Email
            <span>*</span>
        </label>
        <input type="text" name="email">
        <label for="password">
            Password
            <span>*</span>
        </label>
        <input type="password" name="password" >
        <button type="submit">Login</button>
    </form>
</section>