<section>
    <form method="POST" action="/user/register">
        <h1>Register</h1>
        <label for="email">
            Email
            <span>*</span>
        </label>
        <input type="text" name="email">
        <label for="username">
            Username
            <span>*</span>
        </label>
        <input type="text" name="username" >
        <label for="password">
            Password
            <span>*</span>
        </label>
        <input type="password" name="password" >
        <button type="submit">Register</button>
    </form>
</section>