<section id="main-loading-icon" class="pos-abs h-100-pc bg-gray top-0 btm-0 lft-0 rht-0 opct-50 hide">
    <div class="flex-r-cnt h-100-vh">
        <div class="b-t-main-sm b-gray-sm b-rd-max h-100-px w-100-px anm-spin">

        </div>
    </div>
</section>