
/*REGULAR BORDERS*/
.b-wht-sm{
    border: solid var(--white) var(--em-sm);
}

.b-gray-sm{
    border: solid var(--gray) var(--em-sm);
}

/*BORDER TOP*/

.b-t-main-sm{
    border-top: solid var(--main-clr) var(--em-sm);
}

.b-t-main-xxs{
    border-top: solid var(--main-clr) var(--em-xxs);
}

.b-l-main-xs{
    border-left: solid var(--main-clr) var(--em-xs);
}