/*ALL SIDES*/

.mar-xs{
    margin: var(--em-xs);
}

.mar-sm{
    margin: var(--em-sm);
}

.mar-md{
    margin: var(--em-md);
}

.mar-lg{
    margin: var(--em-lg);
}

.mar-sl{
    margin: var(--em-xl);
}

/*BOTTOM*/

.mar-b-xs{
    margin-bottom: var(--em-xs);
}

.mar-b-sm{
    margin-bottom: var(--em-sm);
}

.mar-b-md{
    margin-bottom: var(--em-md);
}

.mar-b-lg{
    margin-bottom: var(--em-lg);
}

.mar-b-xl{
    margin-bottom: var(--em-xl);
}

/*LEFT*/

.mar-l-xs{
    margin-left: var(--em-xs);
}

.mar-l-sm{
    margin-left: var(--em-sm);
}

.mar-l-md{
    margin-left: var(--em-md);
}

.mar-l-lg{
    margin-left: var(--em-lg);
}

.mar-l-xl{
    margin-left: var(--em-xl);
}

/*LEFT AND RIGHT*/

.mar-lr-xs{
    margin-left: var(--em-xs);
    margin-right: var(--em-xs);
}

.mar-lr-sm{
    margin-left: var(--em-sm);
    margin-right: var(--em-sm);
}

.mar-lr-md{
    margin-left: var(--em-md);
    margin-right: var(--em-md);
}

.mar-lr-lg{
    margin-left: var(--em-lg);
    margin-right: var(--em-lg);
}

.mar-lr-xl{
    margin-left: var(--em-xl);
    margin-right: var(--em-xl);
}