.add-new-steps{
    background-color: white;
    border-radius: 5px;
    padding: var(--pad-sm);
    display: grid;
    grid-template-columns: 1fr;
}

.add-new-steps-active{
    background-color: var(--main-clr);
    color:white;
}

.add-new-steps .header{
    color:var(--main-clr);
    font-size: var(--rem-md);
    font-family: var(--secondary-font);
    margin-bottom: var(--mar-xxs);
}


.add-new-steps .step-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        ''
    ;
}

.add-new-steps .name-label{
    font-family: var(--secondary-font);
    font-size: var(--rem-xs);
}

.add-new-steps .name-input{
    font-family: var(--secondary-font);
    font-size: var(--rem-md);
    margin-bottom: var(--mar-xs);
    border: none;
    background-color: var(--gray);
}

.add-new-steps .name-input:hover{
    outline: none;
    background-color: var(--darkgray);
}

.add-new-steps .submit{
    font-family: var(--secondary-font);
    font-size: var(--rem-sm);
    width: fit-content;
    justify-self: right;
    background-color: var(--main-clr);
    color:white;
    border:none;
    border-radius: 3px;
    padding-left:var(--pad-xs);
    padding-right:var(--pad-xs);
}

.add-new-steps .error-wrapper{
    background-color: var(--main-clr);
    color:white;
    border-radius: 5px;
    display: flex;
    padding:var(--pad-sm);
    margin-bottom: var(--mar-sm);
    display: none;
}

.add-new-steps .error-wrapper-active{
    display:flex;
}

.add-new-steps .exclamation-icon{
    align-self: center;
}

.add-new-steps .error-message{
    padding-left: var(--pad-sm);
}