/*MENU WRAPPER*/

.candidate-toggle-menu-wrapper{
    width: 100%;
    margin-bottom: var(--em-sm);
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'title'
        'hidden-menu'
    ;
}

/*ACTUAL MENU*/

.candidate-toggle-menu{
    width: 100%;
    grid-area: title;
    display: flex;
    background-color: var(--white);
    animation-duration: 0.25s;
    color:var(--main-clr);
    border-radius: px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.candidate-toggle-menu-active{
    background-color: var(--main-clr);
    animation-duration: 0.25s;
    color:var(--white);
}

/*CANDIDATE NAME*/

.candidate-toggle-menu .candidate-name-wrapper{
    display:flex;
    align-items: center;
    justify-content: start;
    padding-left: var(--em-sm);
    width: 100%;
}

.candidate-toggle-menu .candidate-name-wrapper h3{
    font-family: var(--primary-font);
    color: inherit;
    font-size: var(--rem-md);
}

/*CLOSE AND OPEN ICONS*/

.candidate-toggle-menu .candidate-icon-wrapper{
    display:flex;
    align-items: center;
    justify-content: end;
    padding-right: var(--em-md);
}

.candidate-toggle-menu .candidate-open-icon{
    color: var(--red);
}

.candidate-toggle-menu .candidate-open-icon-dormant{
    display:none;
}

.candidate-toggle-menu .candidate-close-icon{
    display:none;
    color:var(--white);
}

.candidate-toggle-menu .candidate-close-icon-active{
    display:block;
}

/*HIDDEN MENU*/

.candidate-toggle-menu-wrapper .hidden-candidate-menu{
    display:none;
    grid-area: hidden-menu;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu-active{
    display:flex;
    flex-direction: column;
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-detail{
    font-family:var(--secondary-font);
    padding: var(--em-sm);
    font-size:var(--rem-sm);
    border-bottom: solid var(--gray) 1px;
}

.candidate-toggle-menu-wrapper .candidate-details-dormant{
    display: none;
}



.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-options{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-options-dormant{
    display: none;
}

/*HIDDEN MENU EDIT FORM*/

    /*ACTUAL FORM*/

.candidate-toggle-menu-wrapper .candidate-edit-form{
    display: none;
    padding: var(--em-md);
}

.candidate-toggle-menu-wrapper .candidate-edit-form-active{
    display: flex;
    flex-direction: column;
}

    /*INPUTS*/

.candidate-toggle-menu-wrapper .form-control {
    font-family:var(--secondary-font);
    margin: var(--em-sm);
    font-size:var(--rem-sm);
    width: 100%;
    background-color: var(--gray);
    outline:none;
    border: none;
    color:var(--main-clr);
}

.candidate-toggle-menu-wrapper .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.candidate-toggle-menu-wrapper label{
    width:100%;
    font-family: var(--secondary-font);
    font-size:var(--rem-xs);
}

.candidate-toggle-menu-wrapper .astrick{
    color:var(--red);
    font-size:var(--rem-sm);
    display: none;
}

.candidate-toggle-menu-wrapper .astrick-active{
    display:inline;
}

.candidate-toggle-menu-wrapper .update-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: var(--em-sm);
    padding-bottom: var(--em-md);
}

.candidate-toggle-menu-wrapper button {
    background-color: var(--main-clr);
    color:white;
    border: none;
    padding: var(--em-xxs);
    border-radius: 3px;
    font-size:var(--rem-sm);
    width: 33%;
}

    /*ERROR MESSAGE*/

.candidate-toggle-menu-wrapper .error-message-wrapper{
    background-color: var(--main-clr);
    color:white;
    margin-bottom: var(--em-md);
    display:none;
    align-items: center;
    font-size:var(--rem-xs);
    border-radius: 3px;
}

.candidate-toggle-menu-wrapper .error-message-active{
    display:flex;
}

.candidate-toggle-menu-wrapper .error-message-wrapper i{
    color:white;
    padding-left: var(--em-sm);
    padding-right: var(--em-sm);
}

.candidate-toggle-menu-wrapper .error-message{
    font-family:var(--secondary-font);
    padding: var(--em-sm);
    /* margin: 0; */
}

/*HIDDEN MENU ACTION ICONS*/

.candidate-toggle-menu-wrapper .hidden-menu-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--em-sm);
}

.candidate-toggle-menu-wrapper .hidden-menu-icon-wrapper i{
    color:var(--main-clr);
    font-size:var(--rem-md);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
}