/*MENU WRAPPER*/

.candidate-toggle-menu-wrapper{
    width: 100%;
    margin-bottom: var(--em-sm);
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'title'
        'hidden-menu'
    ;
}

/*ACTUAL MENU*/

.candidate-toggle-menu{
    width: 100%;
    grid-area: title;
    display: flex;
    background-color: var(--white);
    animation-duration: 0.25s;
    color:var(--main-clr);
}

.candidate-toggle-menu-active{
    background-color: var(--main-clr);
    animation-duration: 0.25s;
    color:var(--white);
}

/*CANDIDATE NAME*/

.candidate-toggle-menu .candidate-name-wrapper{
    display:flex;
    align-items: center;
    justify-content: start;
    padding-left: var(--em-sm);
    width: 100%;
}

.candidate-toggle-menu .candidate-name-wrapper h3{
    font-family: var(--primary-font);
    color: inherit;
    font-size: var(--rem-md);
}

/*CLOSE AND OPEN ICONS*/

.candidate-toggle-menu .candidate-icon-wrapper{
    display:flex;
    align-items: center;
    justify-content: end;
    padding-right: var(--em-md);
}

.candidate-toggle-menu .candidate-open-icon{
    color: var(--red);
}

.candidate-toggle-menu .candidate-open-icon-dormant{
    display:none;
}

.candidate-toggle-menu .candidate-close-icon{
    display:none;
    color:var(--white);
}

.candidate-toggle-menu .candidate-close-icon-active{
    display:block;
}

/*HIDDEN MENU*/

.candidate-toggle-menu-wrapper .hidden-candidate-menu{
    display:none;
    grid-area: hidden-menu;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu-active{
    display:flex;
    flex-direction: column;
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu p {
    font-family:var(--secondary-font);
    padding: var(--em-sm);
    font-size:var(--rem-sm);
    border-bottom: solid var(--gray) 1px;

}

.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-options{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

/*HIDDEN MENU ACTION ICONS*/

.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-options .hidden-menu-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--em-sm);
}

.candidate-toggle-menu-wrapper .hidden-candidate-menu .candidate-options .hidden-menu-icon-wrapper i{
    color:var(--main-clr);
    font-size:var(--rem-md);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
}