.default-section{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--em-sm);
}

.side-buffer {
    margin-right: var(--em-sm);
    margin-left: var(--em-sm);
}