/*ACTUAL FORM ELEMENT*/

.form-default{
    display:grid;
    /* margin-right: var(--em-sm); */
    /* margin-left: var(--em-sm); */
    border-radius: 10px;
    padding:var(--em-md);
    background-color: var(--white);
    width: -moz-available; 
    width: -webkit-fill-available;
}

/*FORM TITLE*/

.form-default h1 {
    font-family: var(--primary-font);
    margin-bottom:var(--em-sm);
    font-size:var(--rem-lg);
    color:var(--main-clr);
}

/*ERROR MESSAGE*/

.form-default .error-wrapper{
    margin-bottom:var(--em-md);
    padding: var(--em-sm);
    display:none;
    align-items: center;
    justify-content: start;
    font-family: var(--secondary-font);
    font-size:var(--rem-sm);
    background-color: var(--main-clr);
    border-radius: 3px;
    color:white;
}

.form-default .error-wrapper i{
    color:white;
}

/*LABELS*/

.form-default label{
    font-family:var(--secondary-font);
    font-size:var(--rem-sm);
}

/*INPUTS*/

.form-default input{
    font-size:var(--rem-sm);
    font-family:var(--secondary-font);
    border:none;
    background-color: var(--gray);
    color:var(--main-clr);
}

.form-default input:focus{
    outline:none;
    background-color: var(--gray);
    background-color:#e3e3e3;
}

.form-default input:hover{
    outline:none;
    background-color:#e3e3e3;
}

/*ANIMATED UNDERLINE*/

.form-default .underline{
    height:1px;
    width:100%;
    background-color: var(--main-clr);
    margin-bottom: var(--em-sm);
    visibility: hidden;
    animation-duration: 0.5s;
}

.form-default .last-underline{
    margin-bottom: var(--em-md);
}

@keyframes snap-underline {
    0% {
        width:0%;
        opacity: 0%;
    }
    50% {
        width:100%;
        opacity: 50%;
    }
    100% {
        width:100%;
        opacity: 100%;
    }
}

/*SUBMIT BUTTON*/

.form-default .button-wrapper{
    display:flex;
    align-items: center;
    justify-content: end;
}

.form-default .button-wrapper button{
    font-family: var(primarty-font);
    width:40%;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--main-clr);
    border-radius: 3px;
    color:white;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes animate-submit-button {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 20%;
    }
}

/* .form-default .button-wrapper button:hover{
    box-shadow:1px 1px 10px var(--main-clr);
} */

.form-default .button-wrapper button i{
    padding-left: var(--em-sm);
}

.form-default .button-wrapper button i, button p{
    font-size:var(--rem-md);
}

