.step-form-wrapper{
    display: none;
    grid-template-columns: 1fr;
    border-radius: 5px;
    background-color: white;
    padding:var(--pad-sm);
}

.step-form-wrapper-active{
    display: grid;
}

.step-form-wrapper .step-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        ''
    ;
}

.step-form-wrapper .name-label{
    font-family: var(--secondary-font);
    font-size: var(--rem-xs);
}

.step-form-wrapper .name-input{
    font-family: var(--secondary-font);
    font-size: var(--rem-sm);
    margin-bottom: var(--mar-xs);
}

.step-form-wrapper .submit{
    font-family: var(--secondary-font);
    font-size: var(--rem-sm);
    width: fit-content;
    justify-self: right;
    background-color: var(--main-clr);
    color:white;
    border:none;
    border-radius: 3px;
    padding-left:var(--pad-xs);
    padding-right:var(--pad-xs);
}

.step-form-wrapper .error-wrapper{
    background-color: var(--main-clr);
    color:white;
    border-radius: 5px;
    display: flex;
    padding:var(--pad-sm);
    margin-bottom: var(--mar-sm);
    display: none;
}

.step-form-wrapper .error-wrapper-active{
    display:flex;
}

.step-form-wrapper .exclamation-icon{
    align-self: center;
}

.step-form-wrapper .error-message{
    padding-left: var(--pad-sm);
}