<nav class="mar-b-md">
    <a href="/user/home">Home</a>
    <a href="/candidates">Candidates</a>
    <a href="/questions">Questions</a>
    <a href="/interviewers">Interviewers</a>
    <a href="/user/logout">Logout</a>
</nav>