<nav class="navbar">
    <div class="icon-wrapper">
        <i class="fa-solid fa-bars fa-lg hamburger-icon"></i>
    </div>
    <div class="nav-title">
        <h1>Talent Portal</h1>
    </div>
    <ul class="mobile-nav-list">
        <div class="close-wrapper">
            <i class="fa-solid fa-xmark fa-xl mobile-close-icon"></i>
        </div>
        <a href="/user/home">
            <p>Home</p>
        </a>
        <a href="/candidates">
            <p>Candidates</p>
        </a>
        <a href="/questions">
            <p>Questions</p>
        </a>
        <a href="/interviewers">
            <p>Interviewers</p>
        </a>
        <a href="/user/logout">
            <p>Logout</p>
        </a>
    </ul> 
</nav>

<!--NAVBAR ON LOAD EVENTS-->
<script src="../../public/events/navbar/onLoad.js"></script>
<script src="../../public/events/navbar/initNavbar.js"></script>



