<nav class="navbar">
    <div class="icon-wrapper">
        <i class="fa-solid fa-bars fa-lg hamburger-icon"></i>
    </div>
    <div class="nav-title">
        <h1>Talent Portal</h1>
    </div>
    <ul class="mobile-nav-list">
        <div class="close-wrapper">
            <i class="fa-solid fa-xmark fa-xl mobile-close-icon"></i>
        </div>
        <div class="nav-item-wrapper">
            <a href="/user/home">Home</a>
        </div>
        <div class="nav-item-wrapper">
            <a href="/candidates">Candidates</a>
        </div>
        <div class="nav-item-wrapper">
            <a href="/questions">Questions</a>
        </div>
        <div class="nav-item-wrapper">
            <a href="/interviewers">Interviewers</a>
        </div>
        <div class="nav-item-wrapper">
            <a href="/user/logout">Logout</a>
        </div>
    </ul> 
</nav>

<!--NAVBAR ON LOAD EVENTS-->
<script src="../../public/events/navbar/onLoad.js"></script>



