<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/general/styles.ejs') %>
    <title>Home</title>
</head>
<body>

    <%- include('../partials/pages/multiple/nav.ejs') %> 

    <h1>Welcome Home <%=user.username%></h1>
    <p>This page will host all the upcoming scheduled events</p>

    <!-- general service functions -->
    <%- include("../partials/general/scripts.ejs") %>
    
</body>
</html>