<section class="flex-r-cnt">

    <form id="add-candidate-form" class="grid w-100-pc w-max-425-px pad-md">

        <h1 class="f-prmy mar-b-sm">Add a Candidate</h1>

        <div class="error-wrapper mar-b-sm hide">
            <i class="fa-solid fa-circle-exclamation clr-red"></i>
            <p class="error-message mar-l-md">Error Message</p>
        </div>

        <label class="f-scnd" for="first_name">First Name<span class="astrick clr-red hide">*</span></label>
        <input class="form-control form-required mar-b-sm" type="text" name="first_name">

        <label class='f-scnd' for="last_name">Last Name<span class="astrick clr-red hide">*</span></label>
        <input class="form-control form-required mar-b-sm" type="text" name="last_name">

        <label class="f-scnd" for="email">Email</label>
        <input class="form-control mar-b-sm" type="text" name="email">

        <label class="f-scnd" for="phone">Phone</label>
        <input class="form-control mar-b-sm" type="tel" name="phone">

        <input class="form-control" type="hidden" name="_csrf" value=<%=csrfToken%>>

        <button class="f-prmy" type="submit">Add</button>

    </form>
    
</section>