<section class="default-section">

    <% candidates.forEach(candidate => { %>
        
        <div class="candidate-toggle-menu">

            <div class="candidate-name-wrapper">
                <h3 class="candidate-name"><%= candidate.firstName %> <%= candidate.lastName %></h3>
            </div>

            <div class="candidate-icon-wrapper">
                <i class="fa-solid fa-angle-left candidate-close-icon"></i>
                <i class="fa-solid fa-angle-down candidate-open-icon"></i>
            </div>

        </div>

        <div class="hidden-candidate-menu">
            hello
        </div>

    <% }) %>

</section>