<section class="default-section side-buffer">

    <form id="create-candidate-form" class="form-default" action="/candidates/create-candidate">

        <h1>Add a Candidate</h1>

        <div class="error-message-wrapper">
            <i class="fa-solid fa-circle-exclamation clr-red"></i>
            <p class="error-message">Error Message</p>
        </div>
        
        <label for="firstName">First Name<span class="astrick">*</span></label>
        <input class="form-control form-required" type="text" name="first_name">
        <span class="input-underline"></span>

        <label for="lastName">Last Name<span class="astrick">*</span></label>
        <input class="form-control form-required" type="text" name="last_name">
        <span class="input-underline"></span>

        <label for="email">Email</label>
        <input class="form-control" type="text" name="email">
        <span class="input-underline"></span>

        <label for="phone">Phone</label>
        <input class="form-control last-input" type="tel" name="phone">
        <span class="input-underline"></span>

        <input class="form-control" type="hidden" name="_csrf" value=<%=csrfToken%>>

        <div class="button-wrapper">
            <button class="submit-button" type="submit">
                <p>Add</p>
                <i class="fa-solid fa-people-group"></i>
            </button>
        </div>

    </form>
    
</section>